.login-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  padding-top: 10%;
  border-top: 1px solid gray;
}

button {
  padding: 13px;
  margin-bottom: 14px;
  border-radius: 50px;
  border: none;
  font-size: large;
}

#kakao-btn {
  background-color: rgb(255, 213, 0);
  color: black;
  font-weight: 400;
}

#kakao-btn img {
  height: 1em;
  width: auto;
  margin-right: 8px;
  vertical-align: middle;
}

#google-btn {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.349);
}

#google-btn img {
  height: 1em;
  width: auto;
  margin-right: 8px;
  vertical-align: middle;
}

button:hover {
  border: 2px solid rgba(0, 0, 0, 0.532) !important;
}
